layout {
	default_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }
	tab name="🎩 btop" {
		pane command="btop"
	}
	tab name="🌏 home" {
		pane
	}
	tab name="✒️ blog" cwd="~/Documents/programming/blog/" split_direction="vertical" {
		pane
		pane 
		floating_panes {
			pane
			pane
		}
	}
	tab name="▶️ media" {
		pane
		pane
	}
	tab name="🌐 downloader"{
		pane 
		pane
		pane
	}
}

