[Unit]
Description=Auto adjusts GNOME theme between dark and light to match the time
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gnome-theme-switcher
TimeoutSec=30
StandardOutput=journal
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only

[Install]
WantedBy=default.target

